<div class="stack stack--horizontal flex-row">
  <div class="stack-horizontal__item flex-row align-center justify-center main-font__bold" flex="60" >
    <div class="twitter main-font__bold">
      <span class="twitter__intro" color="green">350 + <span color="blue">Woloxers</span></span>
      <div class="twitter__header flex-row align-center justify-center">
        <img src="assets/ic_twitter.png" alt="Twitter logo">
        <h3 class="main-font">@Wolox</h3>
      </div>
      <div class="flex-row align-center justify-center">
        <a href="https://twitter.com/Wolox" target="_blank" class="twitter__link main-font main-font__bold">Siguenos</a>
      </div>
    </div>
  </div>
  <div class="stack-horizontal__item flex-row align-center justify-center" flex="40">
    <p align="center">
      Trabajamos para <br>
      <span color="blue"><b>convertir </b></span>
      <span color="green"><b>ideas</b></span> en<br>
      productos.
    </p>
  </div>
</div>