<div class="container">
  <nav class="main-nav flex-row justify-end align-center">
    <a class="main-nav__link main-font main-font__semi" [routerLink]="['/home']" nav-item>Home</a>
    <a class="main-nav__link main-font main-font__bold" nav-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()" logout>Logout</a>
  </nav>
  <div class="title main-font main-font__semi">Lista de tecnologías</div>
  <form [formGroup]="listForm" class="filter-form flex-row justify-around">
    <p>
      <input class="filter-form__item" formControlName="text2Filter" type="text" placeholder="Filtrar">
    </p>
  </form>
  <div class="list flex-row justify-center">
    <div class="list__item main-font main-font__semi tech">Logo</div>
    <div class="list__item main-font main-font__semi tech">
      <button class="list__item--button-sort" *ngIf="!desc" (click)="desc = !desc;  sortTechs()">&#9650;</button>
      <button class="list__item--button-sort" *ngIf="desc" (click)="desc = !desc; sortTechs()">&#9660;</button>
      <span>Tecnología</span>
    </div>
    <div class="list__item main-font main-font__semi">Autor</div>
    <div class="list__item main-font main-font__semi">Tipo</div>
    <div class="list__item main-font main-font__semi">Año</div>
    <div class="list__item main-font main-font__semi">Licensia</div>
    <div class="list__item main-font main-font__semi">Lenguaje</div>
  </div>
  <div class="list flex-row justify-center" *ngFor="let tech of filteredTechs">
    <div class="list__item tech">
      <img class="list__item--logo" [src]="tech.logo" [alt]="tech">
    </div>
    <div class="list__item flex-row align-center justify-center">{{tech.tech}}</div>
    <div class="list__item flex-row align-center justify-center">{{tech.author}}</div>
    <div class="list__item flex-row align-center justify-center">{{tech.type}}</div>
    <div class="list__item flex-row align-center justify-center">{{tech.year}}</div>
    <div class="list__item flex-row align-center justify-center">{{tech.license}}</div>
    <div class="list__item flex-row align-center justify-center">{{tech.language}}</div>
  </div>
  <div class="flex-row justify-center">
    <span class="total" class="main-font main-font__semi" color="gray">Total de tecnologías: {{filteredTechs?.length}}</span>
  </div>
</div>