<div class="stack stack--vertical">
  <div  class="flex-row justify-center align-center">
    <span class="title">
      Entre los benefinicios que ofrecemos se enceuntra <span color="blue">;)</span>
    </span>
  </div>
  <div class="list flex-row align-center justify-between">
    <div class="list__item">
      <div class="list__item--image flex-row align-end justify-around">
        <img src="assets/Ic_Hour.svg" alt="Hour">
      </div>
      <div class="list__item--text flex-row justify-center">
        <span align="center">Flexibilidad <br/>horaria</span>
      </div>
    </div>
    <div class="list__item">
      <div class="list__item--image  flex-row align-end justify-around">
        <img src="assets/Ic_HomeOffice.svg" alt="Home Office">
      </div>
      <div class="list__item--text  flex-row justify-center">
        <span align="center">Home office</span>
      </div>
    </div>
    <div class="list__item">
      <div class="list__item--image  flex-row align-end justify-around">
        <img src="assets/Ic_Workshops.svg" alt="Workshops">
      </div>
      <div class="list__item--text  flex-row justify-center">
        <span align="center">Capacitationes <br/>y workshops</span>
      </div>
    </div>
    <div class="list__item">
      <div class="list__item--image  flex-row align-end justify-around">
        <img src="assets/Ic_DrinkSnacks.svg" alt="Drink Snacks">
      </div>
      <div class="list__item--text  flex-row justify-center">
        <span align="center">Snacks, frutas <br/> y bebidas gratis</span>
      </div>
    </div>
    <div class="list__item">
      <div class="list__item--image  flex-row align-end justify-around">
        <img src="assets/Ic_laptop.svg" alt="Laptop">
      </div>
      <div class="list__item--text  flex-row justify-center">
        <span align="center">Semana <br/>remota</span>
      </div>
    </div>
    <div class="list__item">
      <div class="list__item--image  flex-row align-end justify-around">
        <img src="assets/Ic_brain.svg" alt="Brain">
      </div>
      <div class="list__item--text  flex-row justify-center">
        <span align="center">Trabajar <br/>en últimas <br/>tecnologías</span>
      </div>
    </div>
  </div>
</div>