<div class="stack stack--vertical flex-row justify-center align-center">
  <div flex="50" >
    <span class="title flex-row justify-center">Requerimientos</span>
  </div>
  <div flex="50">
    <ul class="list">
      <li class="list__item">Estudiantes avanzados o recibidos de carreras del rubro informático, sistemas o electrónicos</li>
      <li class="list__item">Inglés intermedio/avanzado</li>
      <li class="list__item">Conocimiento en metodologías ágiles(deseable)</li>
    </ul>
  </div>
</div>
