*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*[color="green"] {
  color: $w-green;
}

*[color="blue"] {
  color: $w-blue;
}

*[color="gray"] {
  color: $w-gray;
}

*[color="red"] {
  color: $w-red;
}

html {
    // This defines what 1rem is (h4 24px)
    font-size: 123%;
    @include tab-port{
      font-size: 98.4%;
    }
    @include phone {
      font-size: 82%;
    }
}

body {
    box-sizing: border-box;
    padding-top: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.stack {
  margin: 0;
  &--horizontal {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 500px;
  }
  &--vertical {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 400px;
  }
}