.benefits {
  min-height: 500px;
  padding: auto 50px auto 50px;
  
  .title {
    font-size: 180%;
    min-height: 200px;
    text-align: center;
  }
  .item {
    width: 200px;
    height: 220px;
    &-image {
      height: 100px;
      width: 100%;
    }
    &-text{
      margin-top: 30px;
    }
  }
  .items {
    @media screen and (max-width: 530px) {
      justify-content: center;
    }
  }
}