@import 'mixins';

header {
  padding: 30px;
  background-image: url('/assets/Backgrounds/Bg_Header.png');
  background-size: cover;
  background-position: top;
}

nav, .home {
  padding-bottom: 40px;
}

nav > div > div {
  padding-bottom: 20px;
}

#logo {
  height: 28px;
  margin-right: 6em;
}

a[nav-item]{
  color: inherit;
  margin: auto 5px auto 5px;
  cursor: pointer;
}
a[nav-button]{
  color: $w-blue;
  border: solid 1px;
  border-radius: 100px;
  padding: .5rem 4rem .5rem 4rem;
  font-size: 14px;
  background-color: white;
  margin-left: 0;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background-color: rgba($w-blue,  .02);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, .2);
  }
}

.inverted {
  transform: scaleX(-1);
  text-align: center;
}

#hero {
  animation: moveFromOutside 1s ease-out;
  max-width: 80vw;
}

h1 {
  animation-name: moveFromOutside;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@media screen and (max-width: 520px) {
  #hero {
    min-height: 180px;
  }
}



@keyframes moveFromOutside {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}