.main-nav {
  &__item {
    padding-bottom: 10px;
  }
  &__logo {
    height: 28px;
    margin-right: 6em;
  }
  &__link {
    margin-top: 5px;
    margin-bottom: 5px;
    &[nav-item] {
      margin: auto 5px auto 5px;
      cursor: pointer;
      padding: .5em .5em;
      &:hover {
        border-radius: 100px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
        background-color: rgba($w-blue, .02);
      }
      &:active {
        transform: translateY(-1px);
        box-shadow: 0 2.5px 5px rgba(0, 0, 0, .12);
      }
    }
    &[nav-button] {
      color: $w-blue;
      border: solid 1px;
      border-radius: 100px;
      padding: .5rem 4rem .5rem 4rem;
      font-size: 14px;
      background-color: white;
      margin-left: 0;
      transition: all 0.2s;
      cursor: pointer;
      &[logout] {
        color: $w-red;
      } 
      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        background-color: rgba($w-blue,  .02);
      }
      &:active {
        transform: translateY(-1px);
        box-shadow: 0 2.5px 5px rgba(0, 0, 0, .2);
      }
      &:hover, &:active {
        &[logout] {
          background-color: rgba($w-red,  .02);
        } 
      }
    }
  }
}