// Allows the use of Monserrat font
@font-face {
  font-family: 'Monserrat';
  src: url('../assets/Fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: 'Monserrat';
  src: url('../assets/Fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Monserrat';
  src: url('../assets/Fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: bolder;
}
@font-face {
  font-family: 'Monserrat';
  src: url('../assets/Fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Monserrat';
  src: url('../assets/Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

body {
  font-family: "Monserrat";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  color: $w-text-color;
}


.main-font {
  font-family: "Monserrat";
  font-weight: normal;
  &__light {
    font-weight: 300;
  }
  &__bolder {
    font-weight: bolder;
  }
  &__semi {
    font-weight: 600;
  }
  &__bold {
    font-weight: 700;
  }
}

h1, h2, h3{ 
  font-weight: normal;
}