// most of smartphones (potrait)
$xs-min-width: 300px;
$xs-max-width: 480px;

// Low resolution tablets and mobiles (landescape)
$sm-min-width: 481px;
$sm-max-width: 767px;

// Tablets, ipads
$md-min-width: 768px;
$md-max-width: 1024px;

// Laptops, Desktops
$lg-min-width: 1025px;
$lg-max-width: 1280px;

// Desktops
$xl-min-width: 1281px;