<header class="main-header">
  <nav class="main-nav">
    <div class="main-nav__list flex-row justify-between">
      <div class="main-nav__item flex-row align-center">
        <img class="main-nav__logo self-end" src="assets/logo_full_color.svg" alt="Logo">
      </div>
      <div class="main-nav__item flex-row align-center justify-around">
        <a class="main-nav__link main-font main-font__semi" (click)="scroll(start)" nav-item>Inicio</a>
        <a class="main-nav__link main-font main-font__semi" (click)="scroll(technologies)" nav-item>Tecnologías</a>
        <a class="main-nav__link main-font main-font__semi" (click)="scroll(benefits)" nav-item>Beneficios</a>
        <a class="main-nav__link main-font main-font__semi" (click)="scroll(requirements)" nav-item>Requerimientos</a>
        <a class="main-nav__link main-font main-font__bold" [routerLink]="['/login']" nav-button *ngIf="!auth.isAuthenticated()">Login</a>
        <a class="main-nav__link main-font main-font__bold" nav-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()" logout>Logout</a>
      </div>
    </div>
  </nav>
  <div #start>
    <app-start ></app-start>
  </div>
</header>
<div #technologies>
  <app-technologies></app-technologies>
</div>
<div #woloxers>
  <app-woloxers></app-woloxers>
</div> 
<div #benefits>
  <app-benefits></app-benefits>
</div>
<hr id="divider">
<div #requirements>
  <app-requirements></app-requirements>
</div>
<footer class="main-footer stack stack--vertical flex-column align-center">
  <div flex="70" class="flex-column justify-center">
    <div class="title self-align-center">
      <span>Gracias por <span color="blue">completar el ejercicio</span></span>
    </div>
    <div class="subtitle self-align-center">
      <span>Te invitamos a ver más información</span>
    </div>
    <a class="button self-align-center"href="https://www.wolox.com.ar" target="_blank">Conocer más</a>
  </div>
  <div flex="30" class="flex-row align-end">
    <img src="/assets/Ic_Wolox_Footer.svg" alt="logo footer">
  </div>
</footer>